<!DOCTYPE html>
<html data-thema="retro">
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q11YYF2RJE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q11YYF2RJE');
    </script>
  </head>

  <body>
    <div class="navbar bg-base-300">
      <%= link_to 'テキスト読み上げ算', root_path, class: "btn btn-ghost text-xl" %>
    </div>
    <%= yield %>
  </body>
</html>
